<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCLNxz7L9XvcBuXRH2km9kovujZ_n5HGXA</string>
	<key>GCM_SENDER_ID</key>
	<string>262630947835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.baysaApp</string>
	<key>PROJECT_ID</key>
	<string>dnevnikbaysa</string>
	<key>STORAGE_BUCKET</key>
	<string>dnevnikbaysa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262630947835:ios:3ea2a53f5330a329a0695e</string>
</dict>
</plist>